<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cadastre-se</ion-card-title>
        <ion-card-subtitle>Crie a sua conta para ter acesso ao nosso sistema</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input type="text" label="Nome de usuário:" fill="solid" [(ngModel)]="nome"></ion-input>
        <ion-input type="text" label="Data de nascimento:" fill="solid" [(ngModel)]="dataNasc"></ion-input>
        <ion-input type="email" label="E-mail:" fill="solid" [(ngModel)]="email"></ion-input>
        <ion-input type="password" label="Senha:" fill="solid" [(ngModel)]="senha"></ion-input>
        <ion-input type="text" label="CEP:" fill="solid" [(ngModel)]="cep"></ion-input>
        <ion-input type="text" label="Rua:" fill="solid" [(ngModel)]="rua"></ion-input>
        <ion-input type="text" label="Número:" fill="solid" [(ngModel)]="numero"></ion-input>
        <br><p>Já possui conta?</p>
        <a fill="clear" (click)="telaLogin()">Entrar na conta</a>
      </ion-card-content>
    
      <ion-button fill="clear" (click)="cadastrar()">Cadastrar-se</ion-button> 
      <ion-button fill="clear" (click)="limpar()">Limpar</ion-button>
    </ion-card>
  </div>
</ion-content>
